<section class="container">
  <h1>About Me</h1>
  <p class="paragraph">Hello there, my name is Kevin Rosario and I'm interested in working with you.
  I've been studying and laboring with web development for a couple of years
  and have the expertise to help you create and increase your web presence.
  I've been mastering skills in all of this technologies;<p>

  <ul class="list-group">
    <li class="list-group-item">HTML5</li>
    <li class="list-group-item">CSS3</li>
    <li class="list-group-item">Javascript</li>
    <li class="list-group-item">Jquery</li>
    <li class="list-group-item">Twitter Bootstrap</li>
    <li class="list-group-item">Nodejs</li>
    <li class="list-group-item">Expressjs</li>
    <li class="list-group-item">Angularjs</li>
    <li class="list-group-item">Git</li>
    <li class="list-group-item">Git Hub</li>
    <li class="list-group-item">Gimp</li>
  </ul>

  <p class="paragraph">As a young web developer, I'm eager to keep
  learning this technologies and new ones, which makes me flexible
  for any kind of project that you may have in mind. If you have any
  questions or need a project done, please, feel free to
  <a href="/contact">contact</a> myself. If you want to see more
  of my work, then watch my <a href="/portfolio">portfolio</a>.</p>
</section>
