<div class="message"><h2>Welcome, my name is <b>Kevin Rosario</b></h2></div>
<div class="message2"><h2>I'm a Web Developer</h2></div>
<div class="message3"><h2>If you have a project in mind</h2></div>
<div class="message4"><h2>Feel free to contact me</h2></div>


<div class="row home-icons">
  <div class="container">
    <div class="col-sm-4 center icon1">
      <a href="/portfolio">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
      </a>
      <div class="popup"><h1>Portfolio</h1></div>
    </div>
    <div class="col-sm-4 center icon2">
      <a href="/about">
        <span class="glyphicon glyphicon-user" aria-hidden="true">
      </a>
      <div class="popup"><h1>AboutMe</h1></div>
    </div>
    <div class="col-sm-4 center icon3">
      <a href="/contact">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true">
      </a>
      <div class="popup"><h1>Contact</h1></div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  function fadingMessage() {
    $('.body').ready(function() {
      $('.message').fadeIn('slow').delay(2000).fadeOut('slow', function() {
        $('.message2').fadeIn('slow').delay(2000).fadeOut('slow', function() {
          $('.message3').fadeIn('slow').delay(2000).fadeOut('slow', function() {
            $('.message4').fadeIn('slow').delay(2000).fadeOut('slow', fadingMessage);
          });
        });
      });
    });
  }

fadingMessage();
});
</script>
