<div class="row home-icons">
  <div class="container">
    <div class="col-sm-4 center icon1">
      <a href="/portfolio">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
      </a>
      <div class="popup"><h1>Portfolio</h1></div>
    </div>
    <div class="col-sm-4 center icon2">
      <a href="/about">
        <span class="glyphicon glyphicon-user" aria-hidden="true">
      </a>
      <div class="popup"><h1>AboutMe</h1></div>
    </div>
    <div class="col-sm-4 center icon3">
      <a href="/contact">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true">
      </a>
      <div class="popup"><h1>Contact</h1></div>
    </div>
  </div>
</div>

<div class="hidden-xs message"><h3>Hover over the icons below!</h3></div>

<script type="text/javascript">
$(document).ready(function() {
  console.log("ready!");

  $('.home-icons').hover(function() {
    $('.message').fadeOut('slow');
  });
});
</script>
