//Varaibles for main colors
@firstColor: #003a47; //blue
@secondColor: #fff; //white
@thirdColor: #000; //black

//Variables for font sizes
@bigFont: 30px;
@midFont: 18px;
@smlFont: 10px;


/*
 * Body between Nav Bar and footer
 */

 body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   color: @thirdColor;
   background-color: @secondColor;

   h1, h2, h3, h4, h5, h6 {
     font-family: 'Titillium Web', sans-serif;
   }
 }

 .jumbotron {
   background-color: @firstColor;
   opacity: 0.8;
   color: @secondColor;

   #jbContent {
     margin-top: 2em;
     margin-bottom: 2em;

     img {
       margin-left: auto;
       margin-right: auto;
     }

     button {
       padding: 10px 50px 10px 50px;
       background-color: @firstColor;
       border: solid @secondColor;
       color: @secondColor;
       margin-top: 30px;
       font-size: @midFont;
       transition-duration: 0.2s;

       &:hover {
         background-color: @secondColor;
         border: solid @secondColor;
         color: @firstColor;
         transition-duration: 0.2s;
       }
     }
   }
 }

//Desktop Size

@media only screen and (min-width: 770px) {
  .btn {
    background-color: @firstColor;
    border-color: @firstColor;
    border-width: thick;
    border-radius: 0;
    transition-duration: 0.2s;

    &:hover {
      background-color: @secondColor;
      border-color: @firstColor;
      color: @secondColor;
      transition-duration: 0.2s;

      .submitWord {
        color: @firstColor;
        transition-duration: 0.2s;
      }
    }

    .submitWord {
      padding: 1px 10em 1px 10em;
      color: @secondColor;
      text-decoration: none;
      font-size: @midFont;
      transition-duration: 0.2s;
    }
  }
}

// Tablet Size
@media only screen and (max-width: 769px) and (min-width: 500px) {
  .btn {
    background-color: @firstColor;
    border-color: @firstColor;
    border-width: thick;
    border-radius: 0;
    transition-duration: 0.2s;

    &:hover {
      background-color: @secondColor;
      border-color: @firstColor;
      color: @secondColor;
      transition-duration: 0.2s;

      .submitWord {
        color: @firstColor;
        transition-duration: 0.2s;
      }
    }

    .submitWord {
      padding: 1px 10em 1px 10em;
      color: @secondColor;
      text-decoration: none;
      font-size: @midFont;
      transition-duration: 0.2s;
    }
  }
}

// Smartphone Size

@media only screen and (max-width: 499px) {
  .btn {
    background-color: @firstColor;
    border-color: @firstColor;
    border-width: thick;
    border-radius: 0;
    transition-duration: 0.2s;

    &:hover {
      background-color: @secondColor;
      border-color: @firstColor;
      color: @secondColor;
      transition-duration: 0.2s;

      .submitWord {
        color: @firstColor;
        transition-duration: 0.2s;
      }
    }

    .submitWord {
      padding: 1px 5em 1px 5em;
      color: @secondColor;
      text-decoration: none;
      font-size: @midFont;
      transition-duration: 0.2s;
    }
  }
}


  .center {
    text-align: center;
  }

.message {
  text-align: center;
}

.message2, .message3, .message4{
  display: none;
  text-align: center;
}

/*
 * Form
 */

 form {
   h1 {
     margin: auto auto 30px auto;
   }

   .form-group {
     input {
       border-radius: 0;
       height: 60px;
       border: none ! important;
       box-shadow: none ! important;
       outline: none ! important;
       font-size: @bigFont;
       transition-duration: 0.2s;



       &:focus {
         border-bottom: @firstColor solid 5px ! important;
         transition-duration: 0.2s;
       }
     }
   }
 }

 .paragraph {
   font-size: @midFont;
 }

 .list-group {
   .list-group-item {

     &:hover {
       background-color: @firstColor;
       color: @secondColor;
     }
   }
 }

 #info {
   p {
     font-size: @midFont;
     opacity: 0.6;
   }
 }
/*
 * Footer
 */

 footer {
   margin-top: 30px;
   color: @secondColor;
   background-color: @thirdColor;
   padding: 3px;
   opacity: 0.9;
 }
