/*
 * Body between Nav Bar and footer
 */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Titillium Web', sans-serif;
}
.jumbotron {
  background-color: #003a47;
  opacity: 0.8;
  color: #ffffff;
}
.jumbotron #jbContent {
  margin-top: 2em;
  margin-bottom: 2em;
}
.jumbotron #jbContent img {
  margin-left: auto;
  margin-right: auto;
}
.jumbotron #jbContent button {
  padding: 10px 50px 10px 50px;
  background-color: #003a47;
  border: solid #ffffff;
  color: #ffffff;
  margin-top: 30px;
  font-size: 18px;
  transition-duration: 0.2s;
}
.jumbotron #jbContent button:hover {
  background-color: #ffffff;
  border: solid #ffffff;
  color: #003a47;
  transition-duration: 0.2s;
}
@media only screen and (min-width: 770px) {
  .btn {
    background-color: #003a47;
    border-color: #003a47;
    border-width: thick;
    border-radius: 0;
    transition-duration: 0.2s;
  }
  .btn:hover {
    background-color: #ffffff;
    border-color: #003a47;
    color: #ffffff;
    transition-duration: 0.2s;
  }
  .btn:hover .submitWord {
    color: #003a47;
    transition-duration: 0.2s;
  }
  .btn .submitWord {
    padding: 1px 10em 1px 10em;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
  }
}
@media only screen and (max-width: 769px) and (min-width: 500px) {
  .btn {
    background-color: #003a47;
    border-color: #003a47;
    border-width: thick;
    border-radius: 0;
    transition-duration: 0.2s;
  }
  .btn:hover {
    background-color: #ffffff;
    border-color: #003a47;
    color: #ffffff;
    transition-duration: 0.2s;
  }
  .btn:hover .submitWord {
    color: #003a47;
    transition-duration: 0.2s;
  }
  .btn .submitWord {
    padding: 1px 10em 1px 10em;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
  }
}
@media only screen and (max-width: 499px) {
  .btn {
    background-color: #003a47;
    border-color: #003a47;
    border-width: thick;
    border-radius: 0;
    transition-duration: 0.2s;
  }
  .btn:hover {
    background-color: #ffffff;
    border-color: #003a47;
    color: #ffffff;
    transition-duration: 0.2s;
  }
  .btn:hover .submitWord {
    color: #003a47;
    transition-duration: 0.2s;
  }
  .btn .submitWord {
    padding: 1px 5em 1px 5em;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
  }
}
.center {
  text-align: center;
}
.message {
  text-align: center;
}
.message2,
.message3,
.message4 {
  display: none;
  text-align: center;
}
/*
 * Form
 */
form h1 {
  margin: auto auto 30px auto;
}
form .form-group input {
  border-radius: 0;
  height: 60px;
  border: none ! important;
  box-shadow: none ! important;
  outline: none ! important;
  font-size: 30px;
  transition-duration: 0.2s;
}
form .form-group input:focus {
  border-bottom: #003a47 solid 5px ! important;
  transition-duration: 0.2s;
}
.paragraph {
  font-size: 18px;
}
.list-group .list-group-item:hover {
  background-color: #003a47;
  color: #ffffff;
}
#info p {
  font-size: 18px;
  opacity: 0.6;
}
/*
 * Footer
 */
footer {
  margin-top: 30px;
  color: #ffffff;
  background-color: #000000;
  padding: 3px;
  opacity: 0.9;
}
